@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-50;
}

body {
  @apply max-w-4xl mx-auto p-4;
}

footer p {
  @apply text-lg text-center
}

footer a {
  cursor: pointer;
  @apply text-sky-600 font-bold
}

footer a:hover {
  @apply underline
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}