@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global elements */
html {
  @apply bg-gray-50;
}

body {
  @apply max-w-4xl mx-auto p-4;
}

footer p {
  @apply text-lg text-center;
}

footer a {
  cursor: pointer;
  @apply text-sky-600 font-bold;
}

footer a:hover {
  @apply underline;
}

.page-title {
  @apply text-5xl font-bold mb-4 text-gray-800;
}

.article-title {
  @apply block font-bold text-xl transition-colors text-gray-800 hover:text-sky-600 mb-1 line-clamp-1;
}

/* Utilities */
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

/* pages/index.tsx */
.nav-icon {
  @apply block text-4xl text-sky-600 transition-transform hover:-translate-y-2;
}

.heading-link {
  @apply text-sky-600 underline underline-offset-8 font-bold px-1 pb-1 transition hover:bg-sky-600 hover:text-white;
}

/* components/NavLink.tsx */
.nav-link {
  @apply uppercase after:content-[''] after:border-b-4 after:border-sky-600 after:block
}

.nav-link-inactive {
  @apply after:scale-x-0 after:transition-all after:transform after:origin-left after:hover:scale-x-100;
}